################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/PreyectoDesarrollo_unicah/CopilotIndices/17.12.53.23981/CodeChunks.db
/.vs/PreyectoDesarrollo_unicah/CopilotIndices/17.12.53.23981/CodeChunks.db-shm
/.vs/PreyectoDesarrollo_unicah/CopilotIndices/17.12.53.23981/CodeChunks.db-wal
/.vs/PreyectoDesarrollo_unicah/CopilotIndices/17.12.53.23981/SemanticSymbols.db
/.vs/PreyectoDesarrollo_unicah/CopilotIndices/17.12.53.23981/SemanticSymbols.db-shm
/.vs/PreyectoDesarrollo_unicah/CopilotIndices/17.12.53.23981/SemanticSymbols.db-wal
/.vs/PreyectoDesarrollo_unicah/DesignTimeBuild/.dtbcache.v2
/.vs/PreyectoDesarrollo_unicah/FileContentIndex/dd8345f4-6f4c-4ad2-8f68-79a961134162.vsidx
/.vs/PreyectoDesarrollo_unicah/v17/.futdcache.v2
/.vs/PreyectoDesarrollo_unicah/v17/.suo
/.vs/PreyectoDesarrollo_unicah/v17/DocumentLayout.backup.json
/.vs/PreyectoDesarrollo_unicah/v17/DocumentLayout.json
/.vs/ProjectEvaluation/preyectodesarrollo_unicah.metadata.v9.bin
/.vs/ProjectEvaluation/preyectodesarrollo_unicah.projects.v9.bin
/.vs/ProjectEvaluation/preyectodesarrollo_unicah.strings.v9.bin
/.vs/VSWorkspaceState.json
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/ClosedXML.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/ClosedXML.Parser.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/de/Microsoft.ReportViewer.Common.resources.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/de/Microsoft.ReportViewer.DataVisualization.resources.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/de/Microsoft.ReportViewer.Design.resources.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/de/Microsoft.ReportViewer.WinForms.resources.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/DocumentFormat.OpenXml.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/DocumentFormat.OpenXml.Framework.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/es/Microsoft.ReportViewer.Common.resources.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/es/Microsoft.ReportViewer.DataVisualization.resources.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/es/Microsoft.ReportViewer.Design.resources.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/es/Microsoft.ReportViewer.WinForms.resources.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/ExcelNumberFormat.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/fr/Microsoft.ReportViewer.Common.resources.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/fr/Microsoft.ReportViewer.DataVisualization.resources.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/fr/Microsoft.ReportViewer.Design.resources.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/fr/Microsoft.ReportViewer.WinForms.resources.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/it/Microsoft.ReportViewer.Common.resources.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/it/Microsoft.ReportViewer.DataVisualization.resources.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/it/Microsoft.ReportViewer.Design.resources.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/it/Microsoft.ReportViewer.WinForms.resources.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/ja/Microsoft.ReportViewer.Common.resources.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/ja/Microsoft.ReportViewer.DataVisualization.resources.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/ja/Microsoft.ReportViewer.Design.resources.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/ja/Microsoft.ReportViewer.WinForms.resources.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/ko/Microsoft.ReportViewer.Common.resources.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/ko/Microsoft.ReportViewer.DataVisualization.resources.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/ko/Microsoft.ReportViewer.Design.resources.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/ko/Microsoft.ReportViewer.WinForms.resources.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/Microsoft.ReportViewer.Common.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/Microsoft.ReportViewer.DataVisualization.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/Microsoft.ReportViewer.Design.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/Microsoft.ReportViewer.ProcessingObjectModel.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/Microsoft.ReportViewer.WinForms.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/Microsoft.SqlServer.Types.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/PreyectoDesarrollo_unicah.deps.json
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/PreyectoDesarrollo_unicah.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/PreyectoDesarrollo_unicah.pdb
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/PreyectoDesarrollo_unicah.runtimeconfig.json
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/pt/Microsoft.ReportViewer.Common.resources.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/pt/Microsoft.ReportViewer.DataVisualization.resources.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/pt/Microsoft.ReportViewer.Design.resources.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/pt/Microsoft.ReportViewer.WinForms.resources.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/RBush.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/ru/Microsoft.ReportViewer.Common.resources.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/ru/Microsoft.ReportViewer.DataVisualization.resources.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/ru/Microsoft.ReportViewer.Design.resources.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/ru/Microsoft.ReportViewer.WinForms.resources.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/runtimes/unix/lib/net8.0/System.Data.SqlClient.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/runtimes/win/lib/net8.0/System.Data.SqlClient.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/runtimes/win-arm64/native/sni.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/runtimes/win-x64/native/sni.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/runtimes/win-x86/native/sni.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/SixLabors.Fonts.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/System.Data.SqlClient.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/System.IO.Packaging.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/zh-CHS/Microsoft.ReportViewer.Common.resources.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/zh-CHS/Microsoft.ReportViewer.DataVisualization.resources.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/zh-CHS/Microsoft.ReportViewer.Design.resources.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/zh-CHS/Microsoft.ReportViewer.WinForms.resources.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/zh-CHT/Microsoft.ReportViewer.Common.resources.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/zh-CHT/Microsoft.ReportViewer.DataVisualization.resources.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/zh-CHT/Microsoft.ReportViewer.Design.resources.dll
/PreyectoDesarrollo_unicah/bin/Debug/net8.0-windows/zh-CHT/Microsoft.ReportViewer.WinForms.resources.dll
/PreyectoDesarrollo_unicah/obj/Debug/net8.0-windows/Preyecto.99238DFD.Up2Date
/PreyectoDesarrollo_unicah/obj/Debug/net8.0-windows/PreyectoDesarrollo_unicah.AssemblyInfo.cs
/PreyectoDesarrollo_unicah/obj/Debug/net8.0-windows/PreyectoDesarrollo_unicah.AssemblyInfoInputs.cache
/PreyectoDesarrollo_unicah/obj/Debug/net8.0-windows/PreyectoDesarrollo_unicah.assets.cache
/PreyectoDesarrollo_unicah/obj/Debug/net8.0-windows/PreyectoDesarrollo_unicah.csproj.AssemblyReference.cache
/PreyectoDesarrollo_unicah/obj/Debug/net8.0-windows/PreyectoDesarrollo_unicah.csproj.BuildWithSkipAnalyzers
/PreyectoDesarrollo_unicah/obj/Debug/net8.0-windows/PreyectoDesarrollo_unicah.csproj.CoreCompileInputs.cache
/PreyectoDesarrollo_unicah/obj/Debug/net8.0-windows/PreyectoDesarrollo_unicah.csproj.FileListAbsolute.txt
/PreyectoDesarrollo_unicah/obj/Debug/net8.0-windows/PreyectoDesarrollo_unicah.csproj.GenerateResource.cache
/PreyectoDesarrollo_unicah/obj/Debug/net8.0-windows/PreyectoDesarrollo_unicah.designer.deps.json
/PreyectoDesarrollo_unicah/obj/Debug/net8.0-windows/PreyectoDesarrollo_unicah.designer.runtimeconfig.json
/PreyectoDesarrollo_unicah/obj/Debug/net8.0-windows/PreyectoDesarrollo_unicah.dll
/PreyectoDesarrollo_unicah/obj/Debug/net8.0-windows/PreyectoDesarrollo_unicah.Form1.resources
/PreyectoDesarrollo_unicah/obj/Debug/net8.0-windows/PreyectoDesarrollo_unicah.frmAdmin.resources
/PreyectoDesarrollo_unicah/obj/Debug/net8.0-windows/PreyectoDesarrollo_unicah.frmAsistencia.resources
/PreyectoDesarrollo_unicah/obj/Debug/net8.0-windows/PreyectoDesarrollo_unicah.frmCambioContraseña.resources
/PreyectoDesarrollo_unicah/obj/Debug/net8.0-windows/PreyectoDesarrollo_unicah.frmDecano.resources
/PreyectoDesarrollo_unicah/obj/Debug/net8.0-windows/PreyectoDesarrollo_unicah.frmDocente.resources
/PreyectoDesarrollo_unicah/obj/Debug/net8.0-windows/PreyectoDesarrollo_unicah.frmJustificacion.resources
/PreyectoDesarrollo_unicah/obj/Debug/net8.0-windows/PreyectoDesarrollo_unicah.frmPierdoContraseña.resources
/PreyectoDesarrollo_unicah/obj/Debug/net8.0-windows/PreyectoDesarrollo_unicah.frmReposicion.resources
/PreyectoDesarrollo_unicah/obj/Debug/net8.0-windows/PreyectoDesarrollo_unicah.FRMS_SUPERV.frmReporte.resources
/PreyectoDesarrollo_unicah/obj/Debug/net8.0-windows/PreyectoDesarrollo_unicah.FRMS_SUPERV.frmSupervisor.resources
/PreyectoDesarrollo_unicah/obj/Debug/net8.0-windows/PreyectoDesarrollo_unicah.genruntimeconfig.cache
/PreyectoDesarrollo_unicah/obj/Debug/net8.0-windows/PreyectoDesarrollo_unicah.pdb
/PreyectoDesarrollo_unicah/obj/Debug/net8.0-windows/PreyectoDesarrollo_unicah.Properties.Resources.resources
/PreyectoDesarrollo_unicah/obj/Debug/net8.0-windows/PreyectoDesarrollo_unicah.sourcelink.json
/PreyectoDesarrollo_unicah/obj/Debug/net8.0-windows/ref/PreyectoDesarrollo_unicah.dll
/PreyectoDesarrollo_unicah/obj/Debug/net8.0-windows/refint/PreyectoDesarrollo_unicah.dll
/PreyectoDesarrollo_unicah/obj/PreyectoDesarrollo_unicah.csproj.nuget.dgspec.json
/PreyectoDesarrollo_unicah/obj/PreyectoDesarrollo_unicah.csproj.nuget.g.props
/PreyectoDesarrollo_unicah/obj/PreyectoDesarrollo_unicah.csproj.nuget.g.targets
/PreyectoDesarrollo_unicah/obj/project.assets.json
/PreyectoDesarrollo_unicah/obj/project.nuget.cache
/PreyectoDesarrollo_unicah/PreyectoDesarrollo_unicah.csproj.user
/PreyectoDesarrollo_unicah.sln
